.comic-card {
  width: 85%;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  transition: transform 0.2s ease;
  height: auto;
}

.comic-card:hover {
  transform: scale(1.05);
}

.comic-thumbnail-card {
  width: 100%;
  aspect-ratio: 2 / 3;
  border: none;
  object-fit: cover;
  object-position: top;
}

.comic-info {
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.comic-title-name {
  font-size: 1.3em;
  font-weight: bold;
  color: #333;
  margin: 0.5rem 0;
}

.comic-artist-name {
  font-size: 1em;
  color: gray;
}

.no-comics {
  text-align: center;
  font-size: 18px;
  color: #777;
}

.comic-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  justify-items: center;
  margin-top: 20px;
  padding: 1.5rem;
}

@media (max-width: 1100px) {
  .comic-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .comic-card {
    width: 90%;
  }

  .comic-thumbnail-card {
    aspect-ratio: 3 / 4;
  }
}

@media (max-width: 768px) {
  .comic-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .comic-card {
    width: 95%;
  }

  .comic-thumbnail-card {
    aspect-ratio: 4 / 5;
  }
}

@media (max-width: 480px) {
  .comic-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .comic-card {
    width: 100%;
  }

  .comic-thumbnail-card {
    aspect-ratio: 1 / 1;
  }
}
